.title {
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}

.container {
    text-align: center;
}
