.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 95px;
    height: 95px;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.body {
    font-size: 16px;
}

.link svg {
    width: 14px;
    height: 14px;
}

.link:hover {
    text-decoration: none;
    color: white;
}

.mt20 {
    margin-top: 20px;
}

/* CSS */
.btn {
  appearance: none;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.btn:disabled {
  pointer-events: none;
}

.btn:hover {
  color: #bbbbbb;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border: 2px solid #bbbbbb;
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}