.main {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
