.wrap {
    font-size: 10px;
    max-width: 480px;
    width: 100%;
    border-radius: 1em;
    padding: 4em !important;
    background-color: black;
    color: white;
}

.header {
    --gap: 1em;
    --btn-size: 1.4em;
    margin-bottom: 2em;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.title {
    flex: 1 1 auto;
    font-size: 32px;
    line-height: 1.2em;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn {
    margin-top: 0.7em;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
}

.btn svg {
    width: 100%;
    height: 100%;
}

@media (max-width: 479px) {
    .wrap {
        padding: 2em 1.5em !important;
    }
}
